---
---

@import "{{ site.theme }}";
@import "rouge-base16-dark";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,300,600');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

/* Code formatting */
.highlighter-rouge .highlight {
  background: #3a3c42;
}

pre, code {
  background-color: #3a3c42;
  font-size: 15px;
  font-family: Inconsolata, monospace;
  font-weight: bold;
  line-height: 134%;
  color: #f8f8f2;
}

/* Ugly hack until Rouge lexer fixes Puppet support */
.language-puppet .highlight .err {
  color: #cc4142;
  background-color: transparent;
}

/* Nicer header */
#header_wrap .inner {
  padding: 15px 0 0 0;
}

#forkme_banner {
  display: none;
}

/* Nicer fonts */
body {
  font-family: Raleway, Calibri, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway, Calibri, Helvetica, sans-serif;
}
